name: Run CTF Challenge
on: [push]
jobs:
  build:
    runs-on: macos-latest  # Ini kuncinya! Pakai macOS terbaru
    steps:
    - uses: actions/checkout@v3
    # - name: Berikan Permission & Run
    #   run: |
    #     chmod +x invitation-party
    #     # Trik input: gunakan echo atau pipe untuk memasukkan input otomatis
    #     # Misal kamu mau coba input "pujoganteng"
    #     echo "pujoganteng" | ./invitation-party
    - name: Dump all strings & constants
      run: |
        otool -tv invitation-party | grep -i sawit -n || true
        otool -tv invitation-party | grep -i ara7 -n || true
